.node-js {
  position: absolute; /* free-form placement container */
}

.node-js.disabled .option-js {
  background-color: #D6E4F0; /* Light, desaturated blue */
  border-color: #A9CBE8;
  color: #607d8b; /* Muted, grayish-blue text */
  opacity: 0.9;
  cursor: default;
}
